.App {
  text-align: center;
}

.divTable{
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}

.divTableCell,
.divTableHead{
  border: 1ps solid #9999;
  display: table-cell;
  padding: 3px 10px;
}

.divTableFoot{
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody{
  display: table-row-group;
}

.divTableCell:nth-child(1n){
  background-color: lightblue;

}
.container{
  display: flex;
  opacity: 0.9;
  background-color: lightcyan;
  justify-content: center;
}

img {
  height: 16em;
}

input{
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}

body{
  background-image: url("https://images.unsplash.com/photo-1605979257913-1704eb7b6246?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: 100%;
}